:root{
    --bg-color:#FFF5FA;
    --complementary-color:#FFDDEF;
    --secondary-color:#F473B9;
    --main-color:#0E3EDA ;
    --complementary-color-2: #F900BF;
}

body{
    background-color: var(--bg-color) !important;
}